<h1>Projects</h1>

<p *ngIf="!projectList"><em>Loading...</em></p>
<!--<p>
    <a [routerLink]="['/register-project']">Create New</a>
</p>-->
<table class='table' *ngIf="empList">
    <thead>
        <tr>
            
            <th>Name</th>
            <th>Duration</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let proj of projectList">
            <td>{{ proj.name }}</td>
            <td>{{ proj.Duration }}</td>
            <td>
            <td>
                <!--<a [routerLink]="['/employee/edit/', emp.id]">Edit</a> |
                <a [routerLink]="" (click)="delete(emp.id)">Delete</a>-->
            </td>
        </tr>
    </tbody>
</table>